@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.block{
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
  font-size: 16px;
}
.block div{
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
.img-parallax {
  width: 100vmax;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  pointer-events: none;
}
<picture>
<source media="(max-width: 766px)" srcset="assets/sample-sm.jpg">
<source media="(max-width: 1013px)" srcset="assets/sample-md.jpg">
<source media="(min-width: 1014px)" srcset="assets/sample-lg.jpg">
<img src="assets/sample-lg.jpg" data-speed="-1" class="img-parallax"/>
</picture>