/* ======================================================
Variables
====================================================== */
html {
	--bg-color: #222222;
	--calendar-color: #333333;
	--font-color: #ffffff;
	--hsr-color: #32c8ff;
	--zzz-color: #ff6464;
	--gi-color: #64c8c8;
	--hi3-color: #dcc843;
	--ww-color: #006ee6;
	--gfl2-color: #FFA500;
	--holiday-color: #DC143C;
	--hsr-icon: url("assets/hsr-icon.webp");
	--zzz-icon: url("assets/zzz-icon.webp");
	--gi-icon: url("assets/gi-icon.webp");
	--hi3-icon: url("assets/hi3-icon.webp");
	--ww-icon: url("assets/ww-icon.webp");
	--gfl2-icon: url("assets/gfl2-icon.webp");
}

/* ======================================================
General Body Styles
====================================================== */
body {
	margin: 0;
	padding: 0 1rem 1rem;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-color);
	color: #fff;
}

/* ======================================================
Label Styles
====================================================== */

header {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 99;
	background: linear-gradient(to bottom, var(--bg-color), rgba(51,51,51,0));
}

.label {
	margin: 0 auto;
	padding: 1rem 0 0;
	max-width: 360px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	gap: 0.5vw;
}

.label button {
	width: 100%;
	display: flex;
	margin: 0;
	padding: 0.25rem;
	border-radius: 1.2rem;
	border: 0;
	box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.5);
	align-items: center;
	font-weight: bold;
	color: #fff;
	text-align: center;
	cursor: pointer;
	transition: opacity 0.2s ease;
}

/* Label Icons */
.label [class*="label"]:before {
	width: 100%;
	height: auto;
	aspect-ratio: 1;
	content: "";
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 1rem;
}

.label-hsr::before {
	background-image: var(--hsr-icon);
}

.label-zzz::before {
	background-image: var(--zzz-icon);
}

.label-gi::before {
	background-image: var(--gi-icon);
}

.label-hi3::before {
	background-image: var(--hi3-icon);
}

.label-ww::before {
	background-image: var(--ww-icon);
}

.label-gfl2::before {
	background-image: var(--gfl2-icon);
}

.inactive {
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

/* ======================================================
Calendar Layout
====================================================== */
.calendar {
	max-width: 1200px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
	margin: 1rem;
	width: 100%;
	position: relative;
}

.month {
	padding: 1rem;
	text-align: center;
	border-radius: 0.5rem;
	background-color: var(--calendar-color);
}

.month-header {
	font-weight: bold;
	font-size: 1.2rem;
	margin: 0.5rem;
	color: #fff;
}

/* ======================================================
Weekdays & Days Grid
====================================================== */
.weekdays,
.days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.weekdays div {
	font-weight: bold;
	color: var(--font-color);
}

.weekdays div,
.days div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	aspect-ratio: 1;
	font-size: 1rem;
	transition: 0.2s ease;
}

.days div {
	color: var(--font-color);
	margin: 2px;
}

/* Empty grid cells for spacing */
.empty {
	background: none;
}

.today {
	border: 2px solid #ffffff;
	border-radius: 0.25rem;
}

/* ======================================================
Highlighted Dates
====================================================== */

.label-hsr,
.highlight-hsr-livestream,
.highlight-hsr-patch {
	background-color: var(--hsr-color);
}

[class*="hsr-banner"] {
	background-color: var(--hsr-color) !important;
}

.label-zzz,
.highlight-zzz-livestream,
.highlight-zzz-patch {
	background-color: var(--zzz-color);
}

[class*="zzz-banner"] {
	background-color: var(--zzz-color) !important;
}

.label-gi,
.highlight-gi-livestream,
.highlight-gi-patch {
	background-color: var(--gi-color);
}

[class*="gi-banner"] {
	background-color: var(--gi-color) !important;
}

.label-hi3,
.highlight-hi3-livestream,
.highlight-hi3-patch {
	background-color: var(--hi3-color);
}

[class*="hi3-banner"] {
	background-color: var(--hi3-color) !important;
}

.label-ww,
.highlight-ww-livestream,
.highlight-ww-patch {
	background-color: var(--ww-color);
}

[class*="ww-banner"] {
	background-color: var(--ww-color) !important;
}

.label-gfl2,
.highlight-gfl2-livestream,
.highlight-gfl2-patch {
	background-color: var(--gfl2-color);
}

[class*="gfl2-banner"] {
	background-color: var(--gfl2-color) !important;
}

[class*="livestream"] {
	border-radius: 50%;
}

[class*="patch"] {
	border-radius: 0.25rem;
}

[class*="livestream"],
[class*="patch"] {
	font-weight: bold;
}

[class*="banner-one"],
[class*="banner-two"] {
	font-weight: normal;
	border-radius: 0.25rem !important;
	transition: 0.2s ease;
}

[class*="banner-two"] {
	opacity: 0.6;
}

.highlight-holiday {
	color: var(--holiday-color) !important;
	font-weight: bold;
}

[class*="hidden"] {
	background-color: transparent;
	pointer-events: none;
	font-weight: normal;
}

/* ======================================================
Tooltip
====================================================== */
.custom-tooltip {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	font-size: 0.9rem;
	pointer-events: none;
	z-index: 1000;
	white-space: nowrap;
}

.custom-tooltip:last-child {
	margin-top: 28px;
}

/* ======================================================
Footer
====================================================== */
footer {
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 0.5rem;
}

/* ======================================================
Responsive Layout
====================================================== */
@media (max-width: 1024px) {
	.calendar {
		grid-template-columns: repeat(3, 1fr);
	}
	.month-header,
	.days div {
		font-size: 1rem;
	}
}

@media (max-width: 480px) {
	body {
		background-color: #000000;
	}
	header {
		background: linear-gradient(to bottom, #000000, rgba(51,51,51,0));
	}
	.calendar {
		gap: 0.5rem;
		grid-template-columns: repeat(2, 1fr);
	}
	.month-header {
		margin: 0.25rem 0 0.5rem;
	}
	.weekdays div,
	.days div {
		font-size: 0.75rem;
	}
	.month {
		padding: 0.5rem;
		background-color: #222222;
	}
	.label {
		width: 100%;
		max-width: unset;
	}
}